{% extends "home.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title" style="color:white;">Productos</h3>

      {% for p in products %}
   
         <div style="width: 300px;height: 300px;" >

            <tr>
               <img src={{ p.image}} ><br>
               <th> {{ p.id }} </th><br>
               <h2>{{ p.name }}</h2><br>
               <th>{{ p.price }}</th><br>
               <a class="button" href="{{ url_for('cart.add', id=p.id) }}">Add to Car</a>
            </tr>

         </div> 
   
      {% endfor %}

</div>
<script>
   
</script>
{% endblock %}

