{% extends "admin.html" %}
{% block content %}
    <form method="POST" action="/products/add-product">
        {{ form.csrf_token }}   
        {{ form.name.label }} {{ form.name(size=40) }} <br>
        {{ form.image.label }} {{ form.image(size=40) }} <br>
        {{ form.price.label }} {{ form.price(size=40) }}<br>
        {{ form.marca.label }} {{ form.marca(size=40) }}<br>
        {{ form.description.label }} {{ form.description(size=40) }}<br>
        {{ form.category_id.label }} {{ form.category_id(size=40) }}<br>
        <input type="submit" value="Go">
    </form>
{% endblock %}