{% extends "admin.html" %}
{% block content %}
<div class="box">
    <form method="POST" action="/products/add-product">
        {{ form.csrf_token }}   
        <div class="field">
            <div class="control">
                {{ form.name.label(class_="title") }} {{ form.name(class_="input is-large") }}
            </div>
        </div>
         
        <div class="field">
            <div class="control">
                {{ form.image.label(class_="title") }} {{ form.image(class_="input is-large") }}
            </div>
        </div>

        <div class="field">
            <div class="control">
                {{ form.price.label(class_="title") }} {{ form.price(class_="input is-large") }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.marca.label(class_="title") }} {{ form.marca(class_="input is-large") }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.description.label(class_="title") }} {{ form.description(class_="input is-large") }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form.category_id.label(class_="title") }} {{ form.category_id(class_="input is-large") }}
            </div>
        </div>


         
        <input class="button is-success is-fullwidth" type="submit" value="Create">
    </form>
</div>
    
{% endblock %}